* {
    font-family: 'Lato', sans-serif;
}

.banner {
    width: 100%;
    height: auto;
}

body {
    background-color: rgb(208, 196, 180);
    color: rgba(61, 33, 14, 0.274);

}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.headshot{
    width: 300px;
    height: 300px;
    padding-right: 52px;
}

.para {
    display: block;
    margin: 0 auto

}

p{
    width: 50%;
}